@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.card:hover{
  flex-grow: 3;
  transition: all 0.7s linear;
}
.card:hover .text{
  display: flex;
}