*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
   scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: black;
}
body{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#Whole{
background-color: white;
  width: 995px;
  padding: 20px 25px;
  animation: fadeUp 0.6s ease both;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#section1{
width: 100%;
/* background-color: aqua; */
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 15px; */
}
nav #logo h1{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
text-shadow: 0px 0px 1px black;
}
nav #anchor{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
 
}
nav #anchor a{
  text-decoration: none;
   color: black;
   font-size: 13px;
}
#anchor a:hover{
  border:1px solid rgba(0, 0, 0, 0.229);
  padding: 4px 3px;
  border-radius: 10px;
}
#button button{
  padding: 8px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
#button button:hover{
background-color: white;
color: black;
border: 1px solid black;

}

#section1 #Content{
background-image:url(https://i.pinimg.com/736x/8d/7e/36/8d7e36bae369e3c322b5f4e7467d8322.jpg);
 background-size: cover;
  background-position: center;
width: 100%;
height: 450px;
margin-top: 20px;
border-radius: 10px;

}
#Content #top{
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 flex-direction: column;
 color: white;

}
#top #mid{
  font-size: 35px;
  font-weight: 300;
  
  
}
#top #bot{
  font-size: 35px;
  font-weight: 300;
}
#first{
  font-size: 15px;
margin-top: 10px;
opacity: 0.85;
}
#second{
  font-size: 15px;
  line-height: 1.2;
  opacity: 0.85;
}
#top button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
}
#Content #bottom{
display: flex;
align-items: center;
justify-content: space-between;

}

#Section2{
  margin-top: 35px;
}
#Section2 #box{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

#box #top button{
  background:transparent;
  color: black;
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 20px;

}

#box #bot{
  font-size: 14px;
  font-weight: 200;
}
#card{
 padding-top: 50px;
  display: flex;
 align-items: stretch;
  gap: 20px;
 overflow-x: auto;

  
}
#card .same{
  flex: 0 0 300px;  
  height: 250px;
   color: white;
  border-radius: 20px;

}
#card #one{
  background-color: #0D1A2D;
 padding: 40px 20px;
}
#card #one h2{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.75;
}

#card #one #button{
  display: flex;
  align-items: center;
  gap: 20px;
margin-top: 20px;
}
#button #cover{
  padding: 5px 10px;
  background-color:#2EB4FD;
  border-radius: 30px;
}
#cover h1{
 margin-left: 25px;
background-color: white;
  height: 20px;
  width: 20px; 
  border-radius: 50%;
}
#para p{
  font-size: 12px;
  opacity: 0.75;

}
#card #two{
background-image: url(https://i.pinimg.com/736x/60/2d/c2/602dc21d89413b7b258032401c7e4754.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
}
#card #two button{
  border:none;
  outline:none;
  padding: 10px 10px;
  border-radius: 20px;
  background-color:rgba(255, 255, 255, 0.304);
  color: white;
  font-size: 12px;;
}
#card #three{
  background-color: #F6F8FC;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#card #three #top{
color: black;

}
 #three #top h1{
font-size:35px;
font-weight: 300;

}
#three #top #para1{
  font-size: 12px;

}
#three #top #para2{
  font-size: 12px;
  margin-top:10px;
  opacity: 0.42;
}
#three #top #para3{
  font-size: 12px; 
 margin-top: 3px;
 opacity: 0.42;
} 
#card #three #rating{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
#three #rating #rating1{
  color: black;
  display: flex;
 gap: 40px;
}
#three #rating #rating1 p{
  font-size: 10px;
  margin-right: 10px;
}
#three #rating #rating1 #circle{
  display: flex;
  margin-right: 10px;
}
#three #rating #rating1 #circle h2{
  height: 10px;
  width: 10px;
  background-color: #6dccfb;
  border-radius: 50%;
  margin-left: 10px;
  
}




#three #rating #rating2{
  color: black;
  display: flex;
  justify-content: space-between;
 gap: 35px;
}
#three #rating #rating2 p{
  font-size: 10px;

}
#three #rating #rating2 .pa{
    font-size: 10px;
    margin-left: 35px;
}
#three #rating #rating2 #circle1{
  display: flex;

}
#three #rating #rating2 #circle1 h2{
  height: 10px;
  width: 10px;
  background-color: #6dccfb;
  border-radius: 50%;
  margin-left: 10px;
  
}




#three #rating #rating3{
  color: black;
  display: flex;
 gap: 38px;
}
#three #rating #rating3 p{
  font-size: 10px;
  margin-right: 10px;
}
#three #rating #rating3 .par{
    font-size: 10px;
    margin-left: 40px;
}
#three #rating #rating3 #circle2{
  display: flex;
  margin-right: 10px;
}
#three #rating #rating3 #circle2 h2{
  height: 10px;
  width: 10px;
  background-color: #6dccfb;
  border-radius: 50%;
  margin-left: 10px;
  
}
#Section2 h4{
  padding: 40px 0px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
#Section2 #follow{
display: flex;
align-items: center;
justify-content: center;
gap: 80px;
}
#Section2 #follow .f2{
padding: 10px;
}
#Section2 #follow .f2 h1{
  font-size: 30px;
  font-weight: 200;
}
#follow .f2 p{
  font-size: 10px;
  opacity: 0.40;
  text-align: center;
  margin-top: 8px;
}
#Section3{
  margin-top: 20px;
}
#Section3 #line{
  height: 1px;
  width: 100%;
  border: 1px solid rgba(141, 139, 139, 0.196);
  color: white;

}
#Section3 #FullCards{
  display: flex;
align-items: stretch;
gap: 20px;
margin-top: 50px;
}
 #FullCards .Swidth{
  flex: 0 0 300px;
  height: 250px;
  border-radius: 20px;
  
 }
 #FullCards #FirstCard{
  padding: 15px;
 
 }
 #FirstCard button{
  background-color: white;
  border: 1px solid black;
 padding: 2px 5px;
 border-radius: 10px;
 }
 #FirstCard p{
  margin-top: 30px;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.3;
 }
 #FirstCard #Color{
  margin-top: 58px;
  background-color:#0D1A2B ;
  border:none;
  outline: none;
  color: white;
  border-radius: 15px;
  padding: 8px 15px;
  font-size: 10px;
 }
 #SecondCard{
  background-image: url(https://i.pinimg.com/1200x/e0/31/ba/e031ba80d24413b504712d40e71cb27a.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
 }
 #SecondCard button{
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.44);
  border: none;
  outline: none;
  color: white;
  border-radius: 15px;
  padding: 8px 10px;
  font-size: 12px;
 }
 #SecondCard #line1{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
  #SecondCard #line1 p{
    color: white;
    font-size: 13px;
  }
  #SecondCard #line1 i{
    color: white;
  }

  #ThirdCard #img{
    padding: 10px 10px;
    width: 100%;
    height: 150px;
    background-image: url(https://i.pinimg.com/1200x/22/fa/87/22fa87124757b9f860ed97b05eacc278.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #ThirdCard #img button{
    border: none;
    width: fit-content;
    outline: none;
    background-color: rgba(255, 255, 255, 0.318);
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
  }
  #ThirdCard #img p{
    color: white;
    font-size: 12px;
    padding: 10px;
  }
  #ThirdCard #SecPara{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
padding: 10px;
  }
  #ThirdCard #SecPara p{
    font-size: 12px;

  }
#ThirdCard #SecPara #icon{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}
#SecPara #icon i{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border:0.2px solid rgba(0, 0, 0, 0.279);
background-color: white;
color: rgba(0, 0, 0, 0.693);
}
#Section4{
  margin-top: 60px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #F6F8FC;
}

#Section4 .parts{
  width: 100%;
  display: flex;
  flex-direction: row;
}
#wholep{
  width: 55%;
}
#wholep #part1{
/* width: 55%; */
    background-color: #2EB3FF;
    border-radius: 20px;
}
#part1 #color{
  padding: 10px 10px;
}

#part1 #color #top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#color #top #left button{
background-color: rgba(255, 255, 255, 0.303);
color: white;
}
#color #top #left h1{
  color: white;
  font-weight: 200;
  margin-top: 10px;
  font-size: 30px;
}
#color #top #right{
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
#color #top #right h1{
  font-size:35px;
  font-weight: 200;
}
#color #top #right p{
font-size: 12px;
opacity: 0.55;
}
#color .buttons{
display: flex;
flex-wrap: nowrap;
align-items: center;
margin-top: 10px;
gap: 45px;
}
#color .buttons button{
  font-size: 10px;
  background: transparent;
  border: 0.2px solid rgba(255, 255, 255, 0.378);
color: white;
padding: 5px 5px;
border-radius: 15px;
}
#color button{
  border: none;
  outline: none;
  background-color:#0D1A2B ;
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  margin-top: 20px;
margin-bottom: 5px;
border-radius: 20px;

}
#color button i{
  margin-left: 5px;
}

#wholeline{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}
#wholeline .lineH1{
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 100%;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lineH1 h3{
  font-size: 17px;
  font-weight: 300;
  opacity: 0.52;
}
.lineH1 button{
  border: none;
  outline: none;
  background-color:#627286 ;
  font-size: 10px;
  border-radius: 15px;
  padding: 7px 10px;
  color: white;
}
#part2{
  width: 40%;

  padding: 20px 30px;
}
#part2 button{
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid rgba(24, 23, 23, 0.336);
}
#part2 h4{
  font-size: 21px;
  margin-top: 20px;
  font-weight: 200;
}
#part2 p{
  font-size: 13px;
  margin-top: 10px;
  line-height: 1.3;
  opacity: 0.42;
}
#part2 #backi{
opacity: 0.10;
  width: 100%;
  height: 245px;
  background-image: url(https://i.pinimg.com/736x/16/89/59/168959b8aa5ade9a4490be7c7fd78286.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#Section5{
margin-top: 20px;
background-color: #FFFFFF;
}
#Section5 #WholeBox{
  display: flex;
}
#Section5 #leftbox{
width: 50%;
padding: 15px 20px;

display: flex;
flex-direction: column;
justify-content: space-between;
gap: 70px;
}
#leftbox #top button{
 background: transparent;
 color: black;
 border: 1px solid rgba(37, 36, 36, 0.253);
 padding: 3px 8px;

}
#leftbox #top h3{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
}
#leftbox #top #Star{
  display: flex;
  align-items: center;
  margin-top: 20px;
  
}
#leftbox #top #Star i{
 
  color: #FA9B0E;
}
#leftbox #top #Star p{
  margin-left: 25px;
}
#leftbox #bot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#leftbox #bot #side1 h3{
font-weight: 600;
}
#leftbox #bot #side1 p{
  font-size: 12px;
  opacity: 0.52;
  margin-top: 3px;
}
#leftbox #bot #side2 #one{
background-color:rgb(239, 235, 235);
height: 30px;
width: 30px;
border-radius: 50%;
padding: 10px 10px;
color: black;
}
#leftbox #bot #side2 #two{
background-color:#2EB3FF;
height: 30px;
width: 30px;
margin-left: 20px;
border-radius: 50%;
padding: 10px 10px;
color: white;
}
#Section5 #rightbox{
  width: 50%;
  padding: 20px 30px;
  /* background-color: chartreuse; */
}
#Section5 #rightbox #num{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#rightbox #num h1{
  font-size: 55px;
  font-weight: 400;
}
#rightbox #num p{
 opacity: 0.30;
}
#rightbox #backimg{
  margin-top: 15px;
  margin-left: 60px;
  width: 220px;
  height: 270px;
  border-radius: 20px;
  background-image: url(https://i.pinimg.com/736x/07/a3/7f/07a37f1378e35d7f025b38b07baccaab.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#Section6{
  padding: 30px 30px;
  border-radius: 20px;
  background-color: #F6F8FC;

}
#Section6 #SecParts #top{
display: flex;
align-items: center;
justify-content: space-between;
}
#Section6 #SecParts #top button{
  background: transparent;
  padding: 3px 3px;
  border: 0.2px solid rgba(0, 0, 0, 0.19);
  color: black;
}
#Section6 #SecParts #top h6{
  font-size: 15px;
  font-weight: 400;
}
#Section6 #SecParts #mid{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Section6 #SecParts #mid #left{
  
height: 400px;
width: 30%;
background-image: url(https://i.pinimg.com/1200x/56/52/85/56528539cecb9c713d69b51f4538b0ac.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 20px;
}
#Section6 #SecParts #mid #right{
  width: 60%;
display: flex;
flex-direction: column;
gap: 30px;
}
#Section6 #SecParts #mid #right .line{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color:#FFFFFF ;
padding:12px 30px ;
} 
#right .line p{
  font-size: 12px;
}
#right .line i{
  background-color: black;
  color: white;
  height: 18px;
  width: 18px;
  border-radius: 50%;

}
#Section6 #SecParts #bottom{
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#SecParts #bottom p{
  font-size: 10px;
}
#SecParts #bottom button{
  border: none;
  outline: none;
  padding: 8px 12px;
  background-color:#2DB2FB ;
  color: white;
  border-radius: 20px;
}
#Section7{
  margin-top: 26px;
  padding: 20px 30px;

}
#Section7 #bigbox{
  /* height: 250px; */
   padding: 30px 30px;
background-image: url(https://i.pinimg.com/736x/49/4b/91/494b918246f19a2de9f5bd91afa20609.jpg);
border-radius: 25px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
   width: 100%;

}
#Section7 #bigbox #one{
background-color: rgba(255, 255, 255, 0.438);
border: none;
outline: none;
padding: 5px 5px;
color: white;
border-radius: 20px;
font-size: 10px;
}
#Section7 #bigbox h3{
  font-size:20px;
  color: white;
  margin-top: 22px;
  font-weight: 400;
line-height:1.2 ;
}
#Section7 #bigbox #two{
  margin-top: 30px;
  border: none;
  outline: none;
  padding: 12px 10px;
  background-color:#0D1A2D ;
  border-radius: 15px;
  color: white;
  font-size: 10px;
}
#Section7 #bigbox #two i{
  height: 25px;
  width: 25px;
  background-color:#2EAFF6 ;
  border-radius: 50%;
  padding:5px 5px ;
  margin-left: 20px;
}

#Section8{
  width: 100%;
  height: 370px;
  background-color:#0D1A2D ;
padding: 30px 30px;
color: white;
margin-top: 30px;
}
#Section8 #top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Section8 #top #left p{
font-size: 14px;
opacity: 0.95;
line-height: 1.4;
font-weight: 300;
}
#Section8 #top #left button{
  background-color:#6dccfb;
  padding: 10px 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 8px;
}
#Section8 #top #right{
  font-size: 10px;
  opacity: 0.92;

}
#Section8 #top #right #line button{
  margin-right:15px ;
}
#Section8 #bot #hr{
  height:1px;
  border: 1px solid rgba(255, 255, 255, 0.295);
  width: 100%;
  margin-top: 30px;
  opacity: 0.25;
}
#Section8 #bot #Con{
  margin-top: 20px;
  display: flex;
  align-items: center;
 justify-content: space-between;
}
#Section8 #bot #Con #left{
  width: 55%;
  
}
 #bot #Con #left h1{
  font-size: 55px;
  color: white;
  font-weight: 400;
}
#Section8 #bot #Con #right{
    width: 35%;
  display: flex;
flex-direction: row;
gap: 30px;
}
#Section8 #bot #Con #right #first{
  display: flex;
  flex-direction: column;
  gap: 9px;
}
#right #first p{
  font-size: 10px;
opacity: 0.82;
}
#right #Second {
margin-top: 8px;
}
#right #Second p{
    font-size: 10px;
opacity: 0.82;
line-height: 2;
}
#Section8 #last{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
#Section8 #last p{
  font-size: 10px;
  opacity: 0.62;

}